<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://www.blockonomics.co/js/pay_button.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .album{
            height:100%;
        }
        img{
            height:100%;
            width:100%;
        }
        .col{
            display:flex;
        }
        .center {
            height: auto;
            text-align: center;
          }
          
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
      crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav class="navbar navbar-light bg-light" style="display:grid">
        <div class="row">
        <img src= 'https://cdn3d.iconscout.com/3d/premium/thumb/nft-logo-6708909-5526657.png' class="d-inline-block align-top col" style="width:100px">
        <a class="navbar-brand col" style="text-align: center;" href="#">
            My NFT Image Store
        </a>
        </div>
    </nav>
    <div class='row'>
        {% with x=9 %}{% endwith %}
        <div class="col{{ x }} jumbotron text-center flex-column" > 

            {% if names %} 

            <p style="background-color: green; color: white;"> {{ names.0.0 }} is the highest bidder of our website </p>
            {% else %}
            <p style="background-color: green; color: white;">  You can be the first person </p>
            {% endif %}
            
            Increase the amount of money you want to pay with Bitcoin and see your name on the leader board
    
            <br/>
            <br/>
            
            <div class="container center" style="justify-items: center;">
                <input type="email" name="email" id="email" placeholder="Email Address" />
                <input type="text" name="name" id="name" placeholder="Enter your name" />
            </div>
        </div> 
        {% if names %}
        <div class="col-3 " style="justify-items: center;">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Money</th>
                  </tr>
                </thead>
                <tbody>
                    {% for k,v in names|slice:":3" %} 
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                    {% endfor %}
                  
                </tbody>
              </table>
         </div>
        {% endif %}
    </div>


        {% block content %} {% endblock %}

</body>
</html>